/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
	display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: inherit;
	font-weight: inherit;
}

ul,
ul li {
	list-style: none;
}
address {
	font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button,
input[type='submit'] {
	display: inline-block;
	box-shadow: none;
	background-color: transparent;
	background: none;
	cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
	outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
	background-color: #1d1c1c;
	color: #bbb;
}

a {
	text-decoration: none;
	color: inherit;
}

.border {
	background-color: #2a2828;
	border-bottom: red solid 2px;
}

.container {
	max-width: 1366px;
	margin: 0 auto;
	padding: 0 60px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	margin: 15px;
}

.nav-link {
	display: flex;
	align-items: center;
	gap: 35px;
	justify-content: space-between;
}

.nav-link a {
	padding: 5px;
}

.nav-link a:hover {
	color: aqua;
}

.nav-link h1 {
	font-size: 35px;
}

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 35px;
	font-size: 19px;
}

.user {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.user img {
	color: white;
}

.user h2 {
	font-size: 19px;
}

.user button {
	padding: 5px;
	background-color: rgb(241, 53, 53);
	color: aliceblue;
	border-radius: 5px;
}

.container-poster {
	max-width: 1366px;
	margin: 15px auto;
	padding: 5px 60px;
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.header-title {
	font-size: 35px;
}

.poster {
	display: flex;
	gap: 35px;
}

.poster img {
	width: 300px;
	height: 310px;
}

.poster a:hover {
	transition: 0, 5s;
	border: #7af467da 1px solid;
}

.poster h2 {
	color: rgb(218, 157, 231);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
}

.anime-list {
	display: flex;
	flex-direction: column;
	max-width: 1366px;
	margin: 15px auto;
	padding: 5px 60px;
	background-color: #141111;
}

.anime-header {
	font-size: 30px;
	padding: 15px 0px 15px 0px;
	color: rgb(255, 255, 255);
}

.anime-card {
	display: flex;
	gap: 25px;
	padding: 10px 10px 10px 0px;
}

.anime-card img {
	width: 255px;
	height: 277px;
}

.anime-card h1 {
	font-size: 35px;
	color: aliceblue;
}

.anime-card h1:hover {
	font-size: 35px;
	color: rgb(172, 205, 239);
}

.anime-card p {
	display: flex;
	font-size: 20px;
	width: 750px;
}

.title {
	display: flex;
	flex-direction: column;
	gap: 15px;
}

footer {
	background-color: #28242b;
	font-size: 22px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

input {
	background-color: #201515;
	border: #bbb solid 1px;
	font-size: 15px;
	padding: 5px 0px 5px 0px;
	cursor: pointer;
}

input:hover {
	background-color: #201515;
	border: #03ff18 solid 1px;
	font-size: 15px;
	padding: 5px 0px 5px 0px;
}

input:focus {
	border: #03ff18 solid 1px;
}
